---
import type { CollectionEntry } from "astro:content";
import { config } from "../config";
import { getContentType } from "../utils";
import Bookmark from "./entries/Bookmark.astro";
import Note from "./entries/Note.astro";
import Article from "./entries/Article.astro";

interface Props {
  feedMode: boolean;
  collectionEntry: CollectionEntry<"blog">;  
}

const { collectionEntry, feedMode = false } = Astro.props;
const contentType = getContentType(collectionEntry);
const formattedDate = new Date(collectionEntry.data.date).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---
<article class="h-entry">
  {contentType && feedMode && (
    <section class="entry-type">
    <a href={`/posts/${contentType.path}`} class="p-category">
      <Fragment set:html={contentType.iconSvg} />
      <span class="entry-type-name">{contentType.name}</span>
    </a>    
    </section>
  )}

  {contentType && contentType.slug === 'bookmark' && (
    <Bookmark entry={collectionEntry} />
  )}
  {contentType && contentType.slug === 'note' && (
    <Note entry={collectionEntry} />
  )}
  {contentType && contentType.slug === 'article' && (
    <Article entry={collectionEntry} feedMode={feedMode} />
  )}

  <section class="post-meta">
    <a class="u-uid u-url" href={`/posts/${collectionEntry.slug}`}>
      {formattedDate}
    </a>
    by
    <span class="h-card">
      <img class="u-photo" src="/profile.png" alt={`${config.author} profile image`} loading="lazy" />
      <a class="p-name u-url" href={config.url}>{config.author}</a>
    </span>
  </section>
</article>

<style>
  img.u-photo {
    display: none;
  }
  .h-card .u-url::before {
    content: "\f2b9";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 3px;
  }
  .entry-type a {
    color: #999;
  }
  .entry-type a:hover {
    color: #000;
  }
  .entry-type-name {
    margin-left: 5px;
  }
  article {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
  }
</style>
